---
layout: archive
title: "Education"
permalink: /education/
author_profile: true
---

{% include base_path %}

<div class="cv-item">
  <h3>Ph.D. in Computer Science at University of California, Riverside (Sep 2022 – Present)</h3>
  <p>Advisor: Prof. Nael Abu-Ghazaleh</p>
  <p>GPA: 3.84/4</p>
</div>

<hr>

<div class="cv-item">
  <h3>M.Sc. in Computer Science at University of California, Riverside (Sep 2022 – March 2024)</h3>
  <p>GPA: 3.84/4</p>
</div>

<hr>

<div class="cv-item">
  <h3>B.Sc. in Electrical Engineering at Sharif University of Technology (2017 – 2022)</h3>
  <p>GPA: 3.9/4</p>
</div>



<!-- {% for post in site.education %}
    {% include archive-single.html %} 
{% endfor %} -->
